/* Student solution styles */

/* style the clickable header
- hide default marker with list-style: none */
.summary {
   list-style: none;
   display: flex;
   flex: 1;
   justify-content: space-between;
   
}

/* Hide the default disclosure triangle in WebKit browsers */
.summary::-webkit-details-marker {
   list-style: none;
}

/* Details: style the accordion item wrapper */
.details {
   background-color: antiquewhite;
   cursor: pointer;
   max-width: 70vw;
   margin: 1rem auto;
   padding: 0.5rem;
   border: 1 solid gray;
}

/* Animate content expansion using ::details-content pseudo-element
   - transition max-height (0.3s ease) and content-visibility (0.3s allow-discrete)
   - set max-height to 0
   - hide overflow 
   PS: content-visibility 0.3s allow-discrete makes css try to handle the closing animation
   Basically it auto reverses the open animation
   */
   
.details::details-content {
   max-height: 0;
   transition: max-height 0.3s ease, content-visibility 0.3s allow-discrete;
   overflow: hidden;
}

/* When open, expand content */
.details[open]::details-content {
   max-height: 500px;
   overflow-y: scroll;
}

/* Optional - style marker */
/* Custom indicator (plus sign) */
.summary::after {
   content: '+';
}

/* Rotate the indicator when the item is open */
.details[open] .summary::after {
}
